<?xml version='1.0'?>

<model>
    <name>407_kitchen_table</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Anastasiia Lazorenko</name>
        <email>lazorenko@ucu.edu.ua</email>
    </author>

    <description>
        Cool white kitchen table for high chairs. 
    </description>
</model>