<?xml version='1.0'?>

<model>
    <name>402_office_chair</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Anastasiia Lazorenko</name>
        <email>lazorenko@ucu.edu.ua</email>
    </author>

    <description>
        Comfortable and movable office chair with high back.
    </description>
</model>