<?xml version='1.0'?>

<model>
    <name>414_double_table</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Sofiia Tesliuk</name>
        <email>teslyuk.s@ucu.edu.ua</email>
    </author>

    <description>
        Double, triangle table with coral border for two persons.
    </description>
</model>