<launch>
    <!--  Launch robot description xarco-->
    <include file="$(find rs_description)/launch/description.launch" />
    <arg name="robot_name" default="spot1"/>
    <arg name="init_pose" default="-x -1.7 -y 8.6 -z 0.72 -R 0.0 -P 0.0 -Y 0.0"/>
    <group ns="$(arg robot_name)">
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
              args="$(arg init_pose) -urdf -param /robot_description -model $(arg robot_name)"
              respawn="false" output="screen"/>
        <include file="$(find rs_control)/launch/spot_controller.launch">
            <arg name="spot_name" value="$(arg robot_name)"/>
        </include>
    </group>
</launch>