<?xml version='1.0'?>

<model>
    <name>hall_soft_chair_bordo</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Anastasiia Lazorenko</name>
        <email>lazorenko@ucu.edu.ua</email>
    </author>

    <description>
        Small bordo armchair for coffee table.
    </description>
</model>