<?xml version='1.0'?>

<model>
    <name>413_simple_chair</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Anastasiia Lazorenko</name>
        <email>lazorenko@ucu.edu.ua</email>
    </author>

    <description>
        Yellow-wooden classic chair with thin grey pillow on it.
    </description>
</model>