<?xml version='1.0'?>

<model>
    <name>407_shelves</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Sofiia Tesliuk</name>
        <email>teslyuk.s@ucu.edu.ua</email>
    </author>

    <description>
        Shelves in kitchen for many things, like tea, green tea, tea with raspberry and so on (sugar also is in this list).
    </description>
</model>