<?xml version='1.0'?>

<model>
    <name>403_mini_table</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Sofiia Tesliuk</name>
        <email>teslyuk.s@ucu.edu.ua</email>
    </author>

    <description>
        Mini high table in 403 room.
    </description>
</model>