<?xml version='1.0'?>

<model>
    <name>407_monitor</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Sofiia Tesliuk</name>
        <email>teslyuk.s@ucu.edu.ua</email>
    </author>

    <description>
        Monitor in kitchen with white border.
    </description>
</model>